{% extends 'layout.html' %}
{% load static %}

{% block content%}

    <h1> Phuket </h1><br><br><br>
    <h3>แหลมพรหมเทพ</h3>
    <img src="{% static 'pictures/pic1.jpg' %}" alt="pics" width="1280" height="768"> 
    <hr/> 
    <h3>หาดป่าตอง</h3>
    <img src="{% static 'pictures/pic4.jpg' %}" alt="pics" width="1280" height="768">
    <hr/>
    <h3>ย่านตึกเก่า สถาปัตยกรรมแบบ ชิโนโปรตุกีส</h3>
    <img src="{% static 'pictures/pic3.jpg' %}" alt="pics" width="1280" height="768">
{% endblock %}

{% block link %}

{% endblock%}
