{% extends 'layout.html' %}
{% load static %}



{% block content%}

    <h1> Semainar99708 January </h1>
    <img src="{% static 'pictures/picSeminar99708Jan9.jpg' %}" alt="pics" width="1280" height="768"> 
    <hr/> 
    <img src="{% static 'pictures/picSeminar99708Jan7.png' %}" alt="pics" width="1280" height="768"> 
    <hr/>
    <img src="{% static 'pictures/picSeminar99708Jan8.png' %}" alt="pics" width="1280" height="768"> 
    <hr/>
    <img src="{% static 'pictures/picSeminar99708Jan9_1.png' %}" alt="pics" width="1280" height="768"> 
    <hr/>
    <img src="{% static 'pictures/picSeminar99708Jan9_2.png' %}" alt="pics" width="1280" height="768"> 
    <hr/>

    
{% endblock %}
