{% extends 'layout.html' %}
{% load static %}

{% block content%}

    <h1> Semainar99709 December </h1><br><br><br>
    <img src="{% static 'pictures/picSeminar99709Dec.jpg' %}" alt="pics" width="1280" height="768"> 
    <hr/>
    <h3>ธุรกิจโรงแรม</h3>
    <img src="{% static 'pictures/picSeminar99709Dec1.jpg' %}" alt="pics" width="1280" height="768"><br><br>
    <img src="{% static 'pictures/picSeminar99709Dec2.jpg' %}" alt="pics" width="1280" height="768"><br><br>
    <img src="{% static 'pictures/picSeminar99709Dec3.jpg' %}" alt="pics" width="1280" height="768"><br><br> 
    <img src="{% static 'pictures/picSeminar99709Dec4.jpg' %}" alt="pics" width="1280" height="768"><br><br> 
    <img src="{% static 'pictures/picSeminar99709Dec5.jpg' %}" alt="pics" width="1280" height="768"><br><br> 
    <hr/>
    
{% endblock %}